* {
    box-sizing: border-box
}
 
body{
    margin: 0;
    padding: 0;
}

.parentDiv { 
    width: 100%;
    display: flex;
    flex-direction: column;
}

.topDiv {
    height: 30%;
    border: 1px black solid;
    display: flex;
    flex-direction: row;
}

.rightDiv {
    height: 100%;
    flex: 1;
    border: 3px green solid;
    order: 2;
}

.leftDiv {
    height: 100%;
    flex:1;
    border: 3px blue solid;
    order: 1;
}

.image {
    height: 50%;
    width: 50%;
}

.advice {
    width: 80%;
}

.bottomDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
