.container {
    box-sizing: border-box;
    border: 1px red solid;
    height: auto;
    width: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

.card {
    border: 1px blue solid;
    border: 15px;
    margin: 15px;
}

.border {
    border: 2px red solid;
    width: 35px;
}